#mommy{
    border: solid blue;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    /*-webkit-box-direction:reverse;!*used to specify the order in witch the elements are layed out. Default is normal.*!*/
    width: 700px;
    height: 700px;
    -webkit-box-pack: center;/*(start,center,end)How are your children packed together in the parent (like align) */
    -webkit-box-align: center;/*(start,center,end,stretch,baseline)When you want to vertically align the stuff inside your box (Vertically align everything in my box) */
    /*Default is stretch*/
}
#kid1{
    border: 2px solid red;
    background: yellow;
    padding: 20px;
    margin: 10px;
    /*-webkit-box-ordinal-group:2!*Customizing the position. Can specify which position each element are going to be at*!*/
    -webkit-box-flex: 1;/*can be higer then 1, 2..etc. (how many spaces do you want to take?)*/
}
#kid2{
    border: 2px solid red;
    background: green;
    padding: 20px;
    margin: 10px;
    /*-webkit-box-ordinal-group:1!*Can specify which position each element are going to be at*!*/
    -webkit-box-flex: 1;

}
#kid3{
    border: 2px solid red;
    background: purple;
    padding: 20px;
    margin: 10px;
    /*-webkit-box-ordinal-group:4!*Can specify which position each element are going to be at*!*/
    -webkit-box-flex: 1;

}
#kid4{
    border: 2px solid red;
    background: orange;
    padding: 20px;
    margin: 10px;
    /*-webkit-box-ordinal-group:3!*Can specify which position each element are going to be at*!*/
    -webkit-box-flex: 1;


}
