/*4 different classes*/
a{/* Default state Regular one, blue and underlined */
    color: gold;
    text-decoration: none;/*so it does not have underline on it*/
}
a:hover{/*while you mouse is hovering over link*/
    background: red;
    text-decoration: underline;
}
a:active{/*The state that the link is clicked on; when clicking down on the link*/
    color: orange;
    background: purple;
}
a:visited{/*When the link has already been visited*/
    color: aqua;
    text-decoration: none;
}