/*p:first-letter!*First letter for each paragraphs*!{ !*selecting whatever element you want to change, and then append the sudo class you are going to choose*!*/
    /*color: blue;*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
    /*text-decoration: underline;*/
/*}*/
p:first-line/*First letter for each paragraphs*/{ /*selecting whatever element you want to change, and then append the sudo class you are going to choose*/
    color: blue;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

/*have to have a parent for this(first-child, last-child)*/
/*before, after: pseudo class, can use 'content' to add word before element or after element*/