/*https://www.youtube.com/watch?v=2e8O_KFYQ_U&list=PLXjA6KKtfKnB44YFf0T2eHx5GYp7OHG6O&index=68*/
/*vid-68*/

/*https://www.youtube.com/watch?v=fA1NW-T1QXc*/


/*low resolution, 480px and bellow */
@media only screen and (max-width: 480px) {
    body{background: red;}
}
/*medium resolution, 481px to 1023px */
@media only screen and (min-width: 481px) {
    body{background: green;}
}
/*high resolution, 1024px and above*/
@media only screen and (min-width: 1024px) {
    body{background: blue;}
}