*{
    margin: 0px;
    padding: 0px;
}
h1{
    font: bold 20px Tomaha;

}
h2{
    font: bold 14px Tomaha;
}
header, nav, section, article, hgroup, aside, footer{
    /*makes all of these tags block level elements*/
    display:block;/*Position one after the other top down*/
}
body{
    background: purple;
    width: 100%;/*need to specify the size in order to use this flexible box styling of website*/
    /*computer needs to know the overal size of the body since it is going to be doing calculations*/
    display: -webkit-box;/*Specifying we are going to be putting flexible boxes inside it*/
    -webkit-box-pack:center;/*(start,center,end)How do we want the boxes inside this to be packed together*//*center: center align the boxes; centering the childrens*/
    /*'-webkit' is part of google chrome*/
}

#big_wrapper{
    /*Changed setting for overall website (Since everything is insde this div)*/
    background: orange;
    max-width: 1000px;/*Just to give us some standared we can go by; If we didn't specify it, it can be really big for no reason*/
    margin: 20px 0px;
    display:-webkit-box;/*Since it is going to have boxes in it*/
    /*Saying this is a box and it can change in size and it has childre(different elements) that could also change in size */

     -webkit-box-orient:vertical;  /*The children inside, do you want me to place them (horizontal)left_to_right(like in-line) or
    (vertical)one_on_top_of_each_other(like block)*/
    -webkit-box-flex: 1/*Allow our box to be flexible(either shrink or grow horizonally); 0:Fix(not flexible); 1:Flexible  */
}
#top_header{
    background: yellow;
    border: 4px dashed red;
    /*border: 4px dotted red;*/
    /*border: 4px groove red;*/
    /*border: 4px ridge red;*/
    padding: 20px;
    text-align: center;
}
#top_header h1{
    font-size: 50px;
    /*font-family: "Comic Sans MS";*/
    /*font-family:AppleGothic;*/
    font-family:"GB18030 Bitmap";
    font-weight: bolder;
}

#top_menu{
    border: 2px groove purple;
    background: blue;
    color: white;
    font-weight: bolder;
    font-size: large;
}

#top_menu li{
    display:inline-block;
    list-style: none /*means no bullets or anything weird*/;
    padding: 5px;
    font-family: Chalkduster;
}
/*vid-16*/
#new_div{
    display: -webkit-box; /*if it has boxes inside of it the parant has to be a box*/
    -webkit-box-orient:horizontal;
}
#main_section{
    border: 2px groove purple;
    -webkit-box-flex: 1;
    margin: 20px;
    padding: 20px;

}
article{
    border: 2px inset whitesmoke;
    margin: 20px;
    padding: 20px;
    background: red;
}
article footer{
    text-align: right;
    color: white;
}
#side_news{
    border: 1px double green;/*Common technique: want one colum to have a fix width and the other to change dynamicaly */
    width: 220px;
    margin: 20px 0px;/*20 up and down; 0 left and right*/
    padding: 30px;
    background: lightblue;
}
#the_footer{
    /*Don't need to clear anything because don't have any 'float' properties; clear is usefull when using float*/
    text-align: center;
    border-top: 2px groove darkslategray;
    font-weight: bolder;
    color: blue;
    font-family: Chalkduster;
    background: greenyellow;
}
/*vid-17*/
