
/*style to all the tags*/
*{
    /*Default*/ /*Some element have default margins & padding, so this resets everything back to 0;
    Importent because we want to lay things very specifically*/
    margin: 0;/*Margin is outside; Space outside the boarder*/
    padding: 0;/*Pading is inside, space between the text itself and the boarder */
}

h1{

    /*font-size: 2.5em;*/
    /*font-family: Georgia;*/
    /*letter-spacing: 0.1em;*/
    /*color: rgb(142,11,0);*/
    /*text-shadow: 1px 1px 1px rgba(255,255,255,0.6);*/
    font: bold 30px Tahoma; /*Order: fontweight(bold,etc.) size fontFamily*/
}
h2{
    font: bold 15px Tahoma; /*Order: fontweight(bold,etc.) size fontFamily*/

}
/*some browser don't recognize those html5 tags*/
/*or some browser threat them as in line elements*/
/*make sure all browser handle our website in the same way*/
header, nav, section, article, hgroup, aside, footer{
 /*makes all of these tags block level elements*/
    display:block;
}

body{
    /*in some older browser you need to insure website is centered*/
    text-align: center;/*if don't have, everything will be shifted to the left*/
    background:rebeccapurple;
}
#big_wrapper{

    background-color: aqua;
    border: 2px solid black;
    width:1000px;/*We don't want to be the entire width*/
    margin: 20px auto;/*how we center the webstie; (top margin, left, right, bottom) auto(center website)
        top margin: how much space is from our website to the top of our browser*/
    text-align: left; /*Means even though the box is center, the text will be left align*/

}
#top_header{
    background: yellow;
    border: 1px solid blue;
    padding: 10px;/*makes sure the text is kind of seperate and not buting right against boarder*/
}

#top_menu{
    background: blue;
    color: white;
}
#top_menu li{/*Referesing to the list items inside the top_menu body*/
    display: inline-block;/*make sure they appear from left to right*/
    list-style:none;/*in some browser they may have a litle bullet or * on the side, don't want that*/
    padding: 5px;
    font: bold 14px Tahoma;
}